.hide {
    display: none;
    background-color: whitesmoke;
}
.left {
    float: left;
    background-color: aquamarine;
}
.right {
    float: right;
    background-color: aquamarine;
}
.clear {
    clear: both;
}
#reset-container, h1 {
    text-align: center;
    background-color: gray;
    
}